# Prettier ignore file

# Dependencies
node_modules
package-lock.json

# Build outputs
.next
out
build
dist

# Logs
*.log

# Environment files
.env*
!.env.example

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db
