@import 'tailwindcss';

html,
body {
  cursor: none;
}

@theme {
  --font-sans: var(--font-poppins);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins), sans-serif;
  @apply bg-zinc-950 text-white;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
